entrypoint = "app/page.tsx"
run = "pnpm run dev"
hidden = [".config", ".next", "node_modules"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["pnpm", "deploy:build"]
run = ["pnpm", "start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 3000

[userenv]

[userenv.development]
NEXTAUTH_URL = "https://d0de3c54-8e87-4778-9b40-d55b2afeaae8-00-sexhrbu9coxo.spock.replit.dev"
NEXT_PUBLIC_BASE_URL = "https://d0de3c54-8e87-4778-9b40-d55b2afeaae8-00-sexhrbu9coxo.spock.replit.dev"
