entrypoint = "app/page.tsx"
run = "pnpm run dev"
hidden = [".config", ".next", "node_modules"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["sh", "-c", "pnpm install --frozen-lockfile && pnpm run build"]
run = ["pnpm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
